<div class="main">
  <div class="sub-section">
    <div class="assessment">
      <img class="segment-icon" src="assets/images/segment.svg" alt="" (click)="showMenu()">
      Assessment
      <span class="icon">
        <img class="laptop-icon" src="assets/images/laptop_mac.svg" alt="" />
      </span>
    </div>
    
    <div class="segment">
      <div class="tab active">My Assessments</div>
      <div class="tab unstop inactive">Unstop Assessments</div>
    </div>
  </div>

  <span class="icon mobile-icon">
    <img class="mobile-icon" src="assets/images/mobile_screen_share.svg" alt="" />
  </span>
</div>
