<div class="main" *ngIf="isOverViewActive">
    <div class="header">
        Assessments Overview
    </div>
    <div class="container">
        <div class="total-assessment section">
            <div class="title">
                Total Assessment
            </div>
            <div class="details">
                <div class="icon">
                    <img  src="assets/images/view_agenda.svg" alt="">
                </div>
                <div class="label">
                    34
                </div>
            </div>
        </div>
        <div class="total-purpose-copy  section">
            <div class="title">
                Total Purpose
            </div>
            <div class="details">
                <div class="icon">
                    <img src="assets/images/total_purpose.svg" alt="">
                </div>
                <div class="label">
                    11
                </div>
            </div>
        </div>
        <div class="candidates section">
            <div class="title">
                Candidates
            </div>
            <div class="details">
                <div class="icon">
                    <img src="assets/images/candidates.svg" alt="">
                </div>
                <div class="label additional-details">
                    <div>
                        <div class="count">
                            11,145
                            <span class="plus">
                                +89
                            </span>
                        </div>
                        <div class="desc">
                            Total Candidate
                        </div>
                    </div>
                </div>

                <div class="separator"></div>

                <div class="label additional-details">
                    <div>
                        <div class="count">
                            114
                            <span class="plus">
                                +89
                            </span>
                        </div>
                        <div class="desc">
                            Who Attempted
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="candidates-source section">
            <div class="title">
                Candidates Source
            </div>
            <div class="details">
                <div class="icon">
                    <img src="assets/images/candidates_source.svg" alt="">
                </div>
                <div class="label additional-details">
                    <div>
                        <div class="count">
                            11,000
                            <span class="plus">
                                +89
                            </span>
                        </div>
                        <div class="desc">
                            E-mail
                        </div>
                    </div>
                </div>

                <div class="separator"></div>

                <div class="label additional-details">
                    <div>
                        <div class="count">
                            145
                            <span class="plus">
                                +89
                            </span>
                        </div>
                        <div class="desc">
                            Social Share
                        </div>
                    </div>
                </div>

                <div class="separator"></div>

                <div class="label additional-details">
                    <div>
                        <div class="count">
                            145
                            <span class="plus">
                                +89
                            </span>
                        </div>
                        <div class="desc">
                            Unique Link
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="total-purpose  section">
            <div class="title">
                Total Purpose
            </div>
            <div class="details">
                <div class="icon">
                    <img src="assets/images/total_purpose.svg" alt="">
                </div>
                <div class="label">
                    11
                </div>
            </div>
        </div>

    </div>
</div>
