.container{
    display: flex;
    background-color: #F6F8FA;
    height: 200vh;
}

app-dashboard{
    width: 87.5vw;
    height: 100vh;
    margin: 0 22px 0 17px;
    background-color: #ffffff;
    border-radius: 15px;
    position:absolute;
    left: 148px;
}


@media screen and (max-width:700px) {

    .container{
        display: block;
        height: 100%;
        width: 100%;
    }

    @keyframes menuClose{
        from{ width: 100%; display: flex;}
        to{ width: 0%;display: none;}
    }

    app-dashboard{
        position:relative;
        left: 0;
        display: block;
        height: 100%;
        width: 100%;
        margin: 0;
        border: none;
    }
}